@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
  background-color: #030712; /* bg-gray-950 */
  color: #f9fafb; /* text-gray-100 */
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

.gradient-text {
  background: linear-gradient(to right, #a5b4fc, #6366f1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animation-delay-4000 {
    animation-delay: 4s;
}